# 1. 의존성 (가장 중요! ★)
# 도커 안에서 'npm ci'로 새로 설치할 거니까 로컬 껀 가져가지 마!
node_modules

# 2. 빌드 결과물
# 도커 안에서 새로 빌드할 거니까 로컬에서 빌드한 건 필요 없음
dist
build

# 3. 환경 변수 (보안! ★)
# 로컬 개발용 비밀번호나 설정이 들어가면 안 됨
# 배포용은 CI에서 생성하거나 서버에서 주입함
.env
.env.local
.env.*

#CD에서 생성하는 배포 설정 파일은 올리도록 예외처리
!.env.production

# 4. 버전 관리 & IDE 설정
.git
.github
.vscode
.idea

# 5. 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 6. 도커 관련 파일 (자기 자신은 필요 없음)
Dockerfile
docker-compose.yml
.dockerignore
