version: '3.8'

services:
  frontend:
    container_name: frontend
    build:
      context: ./react
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always
    networks:
      - the-labot-network

networks:
 the-labot-network:
    external: true
